*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/Manifest.toml
/docs/build/

# ignore the saved trained models (>100MB)
/trained_models/final_model.bson


# ignore .vscode
.vscode/

# ignore data
mnist_data/

# Ignore .png, .gif, and bson
*.png
*.gif
*.bson

